[submodule "riscv-linux"]
	path = boards/default/linux
	url = https://github.com/crsullivan13/linux-fsim
[submodule "opensbi"]
	path = boards/default/firmware/opensbi
	url = https://github.com/riscv/opensbi.git
[submodule "boards/default/distros/br/buildroot"]
	path = boards/default/distros/br/buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "wlutil/busybox"]
	path = wlutil/busybox
	url = https://github.com/mirror/busybox.git
[submodule "boards/firechip/drivers/icenet-driver"]
	path = boards/firechip/drivers/icenet-driver
	url = https://github.com/firesim/icenet-driver.git
[submodule "boards/firechip/drivers/iceblk-driver"]
	path = boards/firechip/drivers/iceblk-driver
	url = https://github.com/firesim/iceblk-driver.git
[submodule "boards/firechip/base-workloads/cortexsuite"]
	path = boards/firechip/base-workloads/cortexsuite
	url = https://github.com/crsullivan13/cortextsuite-fsim
[submodule "boards/firechip/base-workloads/cbqri-kern-module"]
	path = boards/firechip/base-workloads/cbqri-kern-module
	url = https://github.com/crsullivan13/cbqri-kern-module.git
